body {
    font-family: Arial, sans-serif;
    background-color: #f5dd74; /* Mild light blue background */
    margin: 0;
    padding: 0;
}

.full {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #FEFBD8; /* White background for the content area */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners */
}

.left, .right {
    width: 45%;
    padding: 20px;
}

.left {
    border-right: 2px solid #e4e4e4;
}

.right {
    padding-left: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #444;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    color: #666;
}

li {
    margin-bottom: 5px;
}

hr {
    border: 0;
    border-top: 1px solid #e4e4e4;
    margin: 20px 0;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
    color: #666;
}

img {
    border-radius: 50%;
}

.center {
    text-align: center;
}
